<div class="dropdown-logged">
  <p class="avator-wrapper">
    <img class="avator" src="<%= data.avator %>" alt="<%= data.nickname %>">
  </p>

  <p class="name text-center">
    <span class="nickname"><%= data.nickname%></span>，您好！
  </p>

  <div class="dropdown-divider"></div>

  <p class="item-title">
    <span>Profiles:</span>
    <button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#exampleModal">
      + 新增
    </button>
  </p>
  <ul class="list-profile">
    <% data.categories.forEach(function(category) { %>
      <li
        class="list-profile-item <% if (data.currentCategory == category.id) { %> active<% } %> <% if (category.remark == 'hide') { %> init-hide<% } %>"
        data-id="<%= category.id %>"
        data-order="<%= category.order %>"
        data-remark="<%= category.remark %>"
      >
        <span><%= category.name %></span>
        <% if (category.id != 1) { %>
          <img class="j-edit-category" src="/svg/edit.svg" width="20px" />
        <% } %>
      </li>
    <% }); %>
  </ul>

  <div class="text-right mt-2">
    <button class="btn btn-link j-logout">退出登录</button>
  </div>
</div>
